<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= task.name %>
    <%= link_to "view details", task %>
    <%= link_to "delete", task, method: :delete,
                                 data: { confirm: "Are you really really sure that you want to delete #{task.name}?" } %>
  </li>
  <% end %>
</ul>

<%= link_to "Enter new task", new_task_path %>
