// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  background-color: #F9FBE7;
  color: #1A5276;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

nav {
    align-items: flex-start;
    justify-content: flex-start;
}

nav ul {
  list-style-type: none;
  font-size: 1em;
  font-style: normal;
  text-transform: capitalize;
  padding: 20px;

}

nav ul li {
    margin: 20px;
}

nav a {
  text-decoration: none;
  color: #28B463;
}

a:hover{
    color: #95A5A6;
}

.wrapper_index {
  align-items: center;
}

.wrapper_index h2 {
  color: #CB4335;
  padding-bottom: -3em;
  font-size: 1.5em;
}

ol {
  list-style-type: none;
  font-size: 1em;
  font-style: normal;
  text-transform: capitalize;
  padding: 10px;
  padding-bottom: -5em;

}

ol li {
    margin: 10px;
}

 a {
  color: #7986CB;
  text-decoration: none;
  font-size: 1em;
}

 a:hover{
    color: #95A5A6;
}

#strikethru_name {
  text-decoration: line-through;
  color: #2980B9;
  list-style-type: none;
  font-size: 1em;
  font-style: normal;
  text-transform: capitalize;
}

.links a {
  color: #808B96;
  list-style-type: none;
  font-size: .85em;
  padding-top: -5px;
  font-style: normal;
  text-transform: capitalize;
  align-items: center;
}

.links a:hover{
  color: #D0D3D4;
}
